<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="images/cars/{{ car.picture }}" class="img-fluid rounded-start" alt="{{ car.fullName }}">
        </div>
        <div class="col-md-8 details">
            <div class="card-header bg-transparent">
                <h5 class="card-title">{{ car.fullName }}<small class="text-muted">{{ car.productionYear }}</small></h5>
            </div>
            <div class="card-body">
                {% include 'search/_includes/services.html.twig' with { 'carServices': car.services } only %}
            </div>
            <div class="card-footer bg-transparent text-right colors">
                Colors:
                {% for color in car.colors %}
                    <span class="badge rounded-pill {{ color }}">{{ color }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
