{% set filters = app.request.get('filters') %}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <form method="get" action="" class="d-flex align-items-middle" data-np-checked="1">
        <input name="filters[phrase]"
               value="{{ filters.phrase is defined ? filters.phrase : '' }}"
               class="form-control me-2"
               style="max-width: 230px;"
               type="search"
               placeholder="Phrase"
               aria-label="Search"
               data-np-checked="1"
               autocomplete="off"
        >

        <select name="filters[colors][]"
                class="form-select form-control me-2 js-select2"
                size="1"
                aria-label="size 1 select colors"
                style="width: 230px; line-height: 100%"
                data-placeholder="Colors"
                multiple
        >
            {% for group in ['required', 'additional', 'excluded'] %}
                <optgroup label="{{ group|first|upper ~ group|slice(1) }}">
                    {% for color in colors %}
                        {% set value = group~color %}
                        <option value="{{ value }}"
                                {{ filters.colors is defined and value in filters.colors ? 'selected' : '' }}
                        >{{ color }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>

        <select name="filters[services][]"
                class="form-select form-control js-select2"
                size="1"
                aria-label="size 1 select services"
                style="width: 230px; line-height: 100%"
                data-placeholder="Services"
                multiple
        >
            {% for service in services %}
                <option value="{{ service.id }}"
                        {{ filters.services is defined and service.id.value in filters.services ? 'selected' : '' }}
                >{{ service }}</option>
            {% endfor %}
        </select>

        <button class="btn btn-outline-success ms-2" type="submit">Search</button>
        <button class="btn btn-outline-warning ms-2" type="reset">Reset</button>
        <button class="btn btn-outline-danger ms-2" onclick="window.location.href = '/'; return false;">Clear</button>
    </form>
</div>
