{% set queryParams = app.request.query.all %}
<nav aria-label="pagination">
    <ul class="pagination justify-content-center mb-0">
        {% for page in 1..pagesTotal.value %}
            {% set currentPage = pagination.page %}

            {% if loop.first %}
                <li class="page-item {{ pagesTotal.isPreviousPageDisabled(currentPage) ? 'disabled' : '' }}">
                    <a class="page-link" href="/{{ not pagesTotal.isPreviousPageDisabled(currentPage) and (currentPage.value-1) != 1 ? (currentPage.value-1) : '' }}{{ queryParams|length ? '?'~(queryParams|build_query) : '' }}">Previous</a>
                </li>
            {% endif %}

            {% if currentPage.equals(page) %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="/{{ currentPage.value == 1 ? '' : currentPage }}{{ queryParams|length ? '?'~(queryParams|build_query) : '' }}">{{ currentPage }}</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="/{{ page == 1 ? '' : page }}{{ queryParams|length ? '?'~(queryParams|build_query) : '' }}">{{ page }}</a></li>
            {% endif %}

            {% if loop.last %}
                <li class="page-item {{ pagesTotal.isNextPageDisabled(currentPage) ? 'disabled' : '' }}">
                    <a class="page-link" href="/{{ not pagesTotal.isNextPageDisabled(currentPage) ? (currentPage.value+1) : '' }}{{ queryParams|length ? '?'~(queryParams|build_query) : '' }}">Next</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
